<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!--<add key="filePath" value="C:\Users\Administrator\Desktop\abc" />-->
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpRuntime maxRequestLength="999999999" />
    </system.web>
    <!--<system.serviceModel>
        <bindings>
            --><!-- 大数据量提交配置1 注：客户端需要在Bings\basicHttpBinding对相关属性开最大值--><!--
          <basicHttpBinding>
        <binding name="LargeDataTransferServicesBinding" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferPoolSize="999999999" maxBufferSize="999999999" maxReceivedMessageSize="999999999"
          messageEncoding="Mtom" />
      </basicHttpBinding>-->
            <!--<basicHttpBinding>
                <binding name="LargeDataTransferServicesBinding" maxReceivedMessageSize="999999999"  maxBufferPoolSize="999999999"
                messageEncoding="Mtom" transferMode="Streamed" sendTimeout="00:30:00" maxBufferSize="999999999"/>
            </basicHttpBinding>-->
            <!-- 大数据量提交配置1-->
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWS_GCGL" closeTimeout="00:10:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                    maxBufferPoolSize="999999999" maxReceivedMessageSize="999999999"  maxBufferSize="999999999"
                    messageEncoding="Mtom" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFileTransfer" transferMode="Streamed">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        
        <services>
            <service name="GCGL_Service.WS_GCGL">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWS_GCGL"
                    contract="GCGL_Service.IWS_GCGL" />
              <endpoint address="mex" binding="mexHttpBinding"  contract="IMetadataExchange" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
                    <serviceMetadata httpGetEnabled="true"/>
                    <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>

    <connectionStrings>
      <add name="Connect_GCGL" connectionString="Data Source=127.0.0.1;Initial Catalog=DN_GCGL;User ID=sa;Password=xxzx@5808371" providerName="System.Data.SqlClient"/>
      <add name="Connect_APP" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.8.4.70)(PORT = 1521)))(CONNECT_DATA = (SID = app)));PERSIST SECURITY INFO=True;USER ID=ZZCZT;PASSWORD=123" providerName="System.Data.OracleClient"/>
    </connectionStrings>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

</configuration>
