<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GCGL_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWS_GCGL" closeTimeout="00:10:00"
                    openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                   maxBufferSize="999999999" maxBufferPoolSize="999999999" maxReceivedMessageSize="999999999"
                    messageEncoding="Mtom" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFileTransfer" transferMode="Streamed">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1/dnsoft/gcgl/FileSvc/FileTransfer.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFileTransfer"
                contract="WcfFileTransfer.IFileTransfer" name="NetTcpBinding_IFileTransfer" />
            <endpoint address="http://127.0.0.1/dnsoft/gcgl/Service/WS_GCGL.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWS_GCGL"
                contract="Ref_WS_GCGL.IWS_GCGL" name="BasicHttpBinding_IWS_GCGL" />
        </client>
    </system.serviceModel>
    <userSettings>
        <GCGL_Client.Properties.Settings>
            <setting name="LoginRemb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoginName" serializeAs="String">
                <value>410001</value>
            </setting>
            <setting name="LoginPswd" serializeAs="String">
                <value />
            </setting>
        </GCGL_Client.Properties.Settings>
    </userSettings>
</configuration>